.img {
  transition: 0.3s ease-in-out;
}

.img:hover {
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px,
    rgba(0, 0, 0, 0.22) 0px 10px 10px;
}

.card {
  border: 1px solid #f3d1bf;
}

.title {
  transition: 2s ease-in-out;
}
.title-2 {
  transition: 2s ease-in-out;
}
.title-3 {
  transition: 2s ease-in-out;
}

.title:hover {
  transform: rotateY(360deg);
  background: linear-gradient(
    180deg,
    rgba(239, 109, 88, 1) 21%,
    rgba(57, 20, 0, 1) 79%
  );
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
.title-2:hover {
  transform: rotateY(360deg);
  background: linear-gradient(
    180deg,
    rgba(239, 109, 88, 1) 21%,
    rgba(57, 20, 0, 1) 79%
  );
  background-clip: text;
    -webkit-text-fill-color: transparent;
}
.title-3:hover {
  transform: rotateY(360deg);
  background: linear-gradient(
    180deg,
    rgba(239, 109, 88, 1) 21%,
    rgba(57, 20, 0, 1) 79%
  );
  background-clip: text;
    -webkit-text-fill-color: transparent;
}
